<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/cdc6c5b4dc.js" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/f9e19193d6.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
	<link rel="stylesheet" href="../css/cadastroEndereco.css">
	<link rel="apple-touch-icon" sizes="192x192" href="../img/icon/Frame1.png">
	<link rel="icon" type="image/png" sizes="380x380" href="../img/icon/Frame1.png">
	<link rel="icon" type="image/png" sizes="380x380" href="../img/icon/Frame1.png">
	<title>Inserir endereco</title>
</head>

<body>
	<nav th:replace="~{/html/menu :: menu}"></nav>

	<div class="cadastro">

		<div class="box">
			<form action="/lista/enderecos" method="POST" th:object="${endereco}" enctype="multipart/form-data"
				id="form" class="form">
				<fieldset>
					<legend>Cadastro de endereço <br>Mundo pet</legend>
					<br>
					<div class="inputBox">
						<input type="text" name="bairro" id="bairro" class="inputUser" required autocomplete="off">
						<label for="bairro" class="labelInput">Bairro</label>
					</div>
					<br>
					<div class="inputBox">
						<input type="text" name="rua" id="rua" class="inputUser" required autocomplete="off">
						<label for="rua" class="labelInput">Rua</label>
					</div>
					<br>
					<div class="inputBox">
						<input type="text" name="cidade" id="cidade" class="inputUser" required autocomplete="off">
						<label for="cidade" class="labelInput">Cidade</label>
					</div>
					<br>
					<div class="inputBox">
						<input type="number" name="numero" id="numero" class="inputUser" required autocomplete="off">
						<label for="idusuario" class="labelInput">Numero</label>
					</div>
					<br>
					<div class="inputBox">
						<input type="number" name="usuario.idusuario" id="usuario.idusuario" class="inputUser" required autocomplete="off">
						<label for="numero" class="labelInput">Seu id</label>
					</div>
					<br>
					<div class="select">
						<select class="uf" id="uf" name="uf">
							<option value="">Selecione seu estado</option>
							<option value="AC">Acre</option>
							<option value="AL">Alagoas</option>
							<option value="AP">Amapá</option>
							<option value="AM">Amazonas</option>
							<option value="BA">Bahia</option>
							<option value="CE">Ceará</option>
							<option value="DF">Distrito Federal</option>
							<option value="ES">Espirito Santo</option>
							<option value="GO">Goiás</option>
							<option value="MA">Maranhão</option>
							<option value="MS">Mato Grosso do Sul</option>
							<option value="MT">Mato Grosso</option>
							<option value="MG">Minas Gerais</option>
							<option value="PA">Pará</option>
							<option value="PB">Paraíba</option>
							<option value="PR">Paraná</option>
							<option value="PE">Pernambuco</option>
							<option value="PI">Piauí</option>
							<option value="RJ">Rio de Janeiro</option>
							<option value="RN">Rio Grande do Norte</option>
							<option value="RS">Rio Grande do Sul</option>
							<option value="RO">Rondônia</option>
							<option value="RR">Roraima</option>
							<option value="SC">Santa Catarina</option>
							<option value="SP">São Paulo</option>
							<option value="SE">Sergipe</option>
							<option value="TO">Tocantins</option>
						</select>
					</div>
					<br>
					<button class="submit" type="submit">Adicionar Endereço</button>
				</fieldset>
			</form>
		</div>
	</div>
</body>

</html>