@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;

}

body {
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

div#parallelogram {
	background: #013cc8;
	width: 1000px;
	height: 530px;
	max-width: 70vw;
	border-radius: 10px;
	box-shadow: 5px 5px 15px;
	transform: skew(6deg, 3deg);
	position: absolute;
	z-index: -1;
	margin-left: 190px;
	margin-top: 30px;
}

.cadastro section {
	display: flex;
	background: #fff;
	padding: 30px 5px;
	border-radius: 10px;
	box-shadow: 5px 5px 15px;
	max-width: 60vw;
	margin-left: 270px;
	margin-top: 65px;
	max-height: 550px;

}

.cadastro section h1 {
	text-align: center;		
	color: #013cc8;
}

.cadastro fieldset {
	border: none;
	display: flex;
}

.cadastro fieldset {
	display: flex;
	margin:0px;
	width:350px;
}


.cadastro .container {
	position: relative;
	padding:5px;

}

.cadastro .container input {
	width: 140px;
	height: 70px;
	border: solid 1px  #013cc8;
	background-color: #ededed;
	border-radius: 4px;
	color: #333;
	font-size: 18px;
	font-weight: 700;
	margin-top: 25px;
	text-align: center;

}


.cadastro .container select{
	width:240px;
	height:70px;
	margin-top: 26px;
	border-color: #013cc8;
	border-radius: 4px;
	background-color: #ededed;
	color: #333;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: rgb(128, 128, 128);
	position: absolute;
	line-height: 70px;
	user-select: none;
	transition: 0.5s;
}

.cadastro .container label {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #9d9d9d;
	position: absolute;
	line-height: 70px;
	top: 10px;
	left: 30px;
	user-select: none;
	pointer-events: none;
	transition: 0.5s;
}
.cadastro .container select .label1{
	color: #013cc8;
	text-align: center;
}

.cadastro .container input:focus~label,
.cadastro .container input:valid~label {
	left: 30px;
	top: 10px;
	color: #013cc8;
}

#check {
	width: 50%;
	text-transform: uppercase;
	font-size: 14px;
	display: flex;
}

#check input {
	width: 25px;
	height: 25px;
	margin: auto 0;

}

#check label {
	margin: auto 10px;
	color: #555;
	transition: 0.5s
}

#check input:checked~label,
#check input:valid~label {
	color: #013cc8;
}

.cadastro  button {
	margin: 20px 0;
	margin-left:10px;
	width: calc(100% - 10px);
	height: 50px;
	background-color: #013cc8;
	color: #fff;
	font-size: 18px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: .3s linear;
	margin-top: 40px;

}

.cadastro button:hover {
	opacity: 0.85;
}

.cadastro form a {
	text-decoration: none;
	font-size: 16px;
	color: #555;
	font-weight: 500;
	padding-top: 20px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.cadastro form a:hover {
	color: #111;
}

.cadastro section img {
	width: 240px;
	height: 250px;
	margin: auto 20%;
	border-radius: 10px;
}
