@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: "Ubuntu", sans-serif;
}

body {
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

div#parallelogram {
	background: #013cc8;
	width: 1000px;
	height: 550px;
	max-width: 70vw;
	border-radius: 10px;
	box-shadow: 5px 5px 15px;
	transform: skew(10deg, 3deg);
	position: absolute;
	z-index: -1;
	margin-left: 21%;
	margin-top: 30px;
}

.cadastro section {
	background: #fff;
	border-radius: 10px;
	box-shadow: 5px 5px 15px #013cc8;
	max-width: 60%;
	border: solid 1px #013cc8;
	margin-left: 21%;
	margin-top: 15px;

}

.cadastro section h1 {
	padding: 30px 10px;
	text-align: center;
	color: #013cc8;
}

.cadastro .fieldset {
	border: none;
	display: flex;
	padding: 10px 10px;
}


.cadastro .container {
	position: relative;
}

.cadastro .container input {
	width: 240px;
	height: 70px;
	border: solid 1px #1881FC;
	background-color: #ededed;
	border-radius: 4px;
	color: #333;
	font-size: 18px;
	font-weight: 700;
	padding: 14px 10px 0 10px;
	margin-top: 25px;
}

.cadastro .container label {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: rgb(128, 128, 128);
	position: absolute;
	line-height: 70px;
	top: 10px;
	left: 20px;
	user-select: none;
	pointer-events: none;
	transition: 0.5s;
}

.cadastro .container input:focus~label,
.cadastro .container input:valid~label {
	left: 20px;
	top: -1px;
	color: #1881FC;
}

#check {
	width: 50%;
	text-transform: uppercase;
	font-size: 14px;
	display: flex;
}

#check input {
	width: 25px;
	height: 25px;
	margin: auto 0;
}

#check label {
	margin: auto 10px;
	color: #555;
	transition: 0.5s
}

#check input:checked~label,
#check input:valid~label {
	color: #1881FC;
}

.cadastro button {
	margin: 40px 0;
	margin-left: 25%;
	width: calc(50% - 10px);
	height: 70px;
	background-color: #013cc8;
	color: #fff;
	font-size: 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: .3s linear;

}

.cadastro button:hover {
	opacity: 0.85;
}

form a {
	text-decoration: none;
	font-size: 16px;
	color: #555;
	font-weight: 500;
	padding-top: 20px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

form a:hover {
	color: #111;
}

section img {
	width: 250px;
	height: 250px;
	margin: auto 40px;
}

@media only screen and (max-width: 1080px) {
	div#parallelogram {
		height: 690px;
	}

	section img {
		display: none;
	}
}

@media only screen and (max-width: 510px) {
	div#parallelogram {
		display: none;
	}

	section {
		min-width: 95vw;
	}

	form {
		width: 100%;
	}

	fieldset:nth-child(2),
	fieldset:nth-child(4),
	fieldset:nth-child(5) {
		flex-direction: column;
	}

	fieldset:nth-child(4) {
		padding: 0px;
	}

	div#check {
		width: 100%;
	}

	button {
		width: 100%;
		margin-left: 0;
	}
}