@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Poppins" , sans-serif;
}
body{
	background-color:#363636;
	text-align: center;
}
.table{
	margin:auto;
	border-radius: 8px;
	margin-top: 15px;
}
#detalhes{
	padding:10px;
	border-radius:10px;
	text-align:center;
	width:50px;
	height:20px;
}
#editar{
	padding:10px;
	border-radius:10px;
	text-align:center;
	width:50px;
	height:20px;
}
#deletar{
	padding:10px;
	border-radius:10px;
	text-align:center;
	width:50px;
	height:20px;
}
.table i{
	padding:10px;
}
a{
	color:#fff;
	text-decoration:none;
	}
a:link {
   color: rgb(255, 255, 255);
}

/* link que foi visitado */
a:visited {
    color: rgb(0, 0, 0);
}

/* mouse over */
a:hover {
    color: #000000;
}
/* link selecionado */
a:active {
    color: blue;
}

h1{	
	color:#fff;
	text-align:center;
	font-size:30px;
	margin-top: 30px;
}
.novo{
	border:solid 1px #fff;
	margin-top: 10px;
	margin-left:45%;
	width:200px;
	height:30px;
	font-size: 18px;
	text-align:center;
	color:with;
	border-radius:7px;

}
th, td{
	color:aliceblue;
	padding:10px;
}