@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Poppins" , sans-serif;
}
/*------------lista---------------*/

h2{
	text-align: center;
	color:rgb(41, 41, 41);
}

.table tr{
	color:rgb(255, 255, 255);
}
.table{
	text-align: center;
}

.novo{
	background-color: #013cc8;
	position:relative;
	width:10%;
	border-radius: 5px;
	padding:10px;
	left:45%;
	text-align:center;
}
.novo a{
	  text-decoration: none;
	  color:aliceblue;
}



/*------------MODAL---------------*/
.modal .modal-title{
	color:rgb(30, 30, 30)
}
.modal-body{
	color:rgb(30, 30, 30);
}

