*{
	margin:0;
	padding:0;
}

.aba{
    margin-left:10px;
	margin-top: 8px;
}
navbar{
    justify-content: center;
    margin: 0%;
}
.navbar .container-fluid{
    color: aliceblue;
    margin-left: 16%;
    justify-content: center;
    align-items: center;
}
.navbar .nav-link{
    color: aliceblue;
}

.navbar .nav-item{
    color: aliceblue;
}
.navbar .aba i{
    color: aliceblue;
}

.logo img{
	margin-left: 30px;
	margin-right:10px;
	width:70px;
	height:40px;
}