@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

.aba {
    margin-left: 10px;
    margin-top: 8px;
}

navbar {
    justify-content: center;
    margin: 0%;
}

.navbar .container-fluid {
    color: aliceblue;
    justify-content: center;
    align-items: center;
}

.navbar .nav-link {
    color: aliceblue;
}

.navbar .nav-item {
    color: aliceblue;
}

.navbar .aba i {
    color: aliceblue;
}

.logo img {
    margin-left: 20px;
    width: 70px;
    height: 40px;
}