.aba{
    margin-left:10px;
	margin-top: 8px;
}
navbar{
    justify-content: center;
    margin: 0%;
}
.navbar .container-fluid .navbar-brand {
    color: aliceblue;
}
.navbar .nav-link{
    color: aliceblue;
}

.navbar .nav-item{
    color: aliceblue;
}
.navbar .aba i{
    color: aliceblue;
}