*{
    margin: 0;
    padding: 0;
}

body{
	background-image: url(https://img.freepik.com/vetores-gratis/fundo-branco-elegante-com-linhas-brilhantes_1017-17580.jpg?w=740&t=st=1666654185~exp=1666654785~hmac=4aef281072beaae08d464a6b36320f81e78d77a85fdedc3e9fc56f116b8f2685);
	border-image: cover;
	width:100%;
}
  /* BARRA DE MENU */

a{
	color:#fff;
	text-align: center;
}
.aba{
	margin-left:25px;
	margin-top: 15px;
}
.fa-regular{
	color:#fff;
}
nav{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    background-color: #013cc8;
    border-radius: 0px;
    position:relative;
    z-index: 100;
}
.dropdown-menu{
    display: flex;
    gap: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.aba{
	color:aliceblue;
}

.dropdown-menu li{
    width: 150px;
    height: 50px;
    list-style: none;
}
	/*#00008B*/

.dropdown-menu a{
    display: block;
    background-color:  #013cc8;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transition: all .2s linear;
    position:relative;
}

.dropdown-menu li:hover > .dropdown-submenu {
    display: block;
}

.dropdown-submenu{
    margin-top: 1px;
    display: none;
}

.dropdown-submenu a{
    background-color: #00000080;
    width: 150%;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    font-size: .8rem;
    border-left: 8px solid transparent;
}
.dropdown-submenu li:hover > a{
    border-left: 8px solid  #013cc8;
}

.logo {
  width: 8%;
  height:8%;
  display: flex;
  margin-left: 50px;
}

main {
  height: 75vh;
}


 /* CARROSSEL*/
.content {
    height: 450px;
    width: 99%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 20%;
    left:8px;
    box-shadow: 10px 10px 5px 0px rgb(192, 192, 192);
    position:absolute;
    z-index: 0;
}

.content .slide img {
    height: 100%;
    width: 100%;
}

.bar {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transform: .5s ease;
}

.bar:hover {
    background-color: white;
}

input {
  display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
} 

#slide2:checked ~ .s1 {
    margin-left: -20%;
} 

#slide3:checked ~ .s1 {
    margin-left: -40%;
} 

#slide4:checked ~ .s1 {
    margin-left: -60%;
} 

#slide5:checked ~ .s1 {
    margin-left: -80%;
}   
    
    
/* CADS*/
    
.container {
    width: 93%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
.card {
    width: 80%;
    height: 430px;
    margin: 15px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    display:flex;
  }
  .card-header {
	display:flex;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  .card-img {
    width:100%;
    height: 100%;
  }
  .card-body {
    padding:100px;
    text-align: center;
    font-family: sans-serif;
    margin-right:10px;
  }
  
  .card-local {
    font-size: 30px;
    margin: 10px 0;
  }
  .card-titulo {
    font-size: 25px;
    margin: 15px 0;
  }
  .card-texto {
    font-size: 16px;
    width: 250px;
    margin: 0 auto;

  }
 .card-footer {
    text-align: center;
    background-color: #000;
    height:100%;
    width:12%;
  }
  .card-footer a {
    color: #fff;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 100%;
  }
  .card-1 .card-footer {
    background-color: #1881FC;
  }
  
  .card-1 .card-local {
    color: #2740d1;
  }
  
  .card-2 .card-footer{
    background-color: #1881FC;
  }
  
  .card-2 .card-local {
    color: #d12761;
  }
  
  .card-3 .card-footer {
    background-color: #1881FC;
  }
  
  .card-3 .card-local {
    color: #00c702;
  }

  .card-4 .card-footer {
    background-color: #1881FC;
  }
  
  .card-4 .card-local {
    color: #c0d127;
  }

  .card-5 .card-footer {
    background-color: #1881FC;
  }
  
  .card-5 .card-local {
    color: #272ad1;
  }
  
  .card-6 .card-footer {
    background-color: #1881FC;
  }
  
  .card-6 .card-local {
    color: #d15d27;
  }
  /* Animação Hover */
  .card:hover {
    transform: scale3d(1.1, 1.1, 1);
  }
  
.abaserviços{
    text-align: center;
   
}