.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  /* Card */
  .card {
    width: 270px;
    height: 450px;
    margin: 15px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
  }
  
  /* Card Header*/
  .card-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .card-img {
    min-width: 100%;
    width:50%;
    height: 100%;
  }
  
  /* Card Body */
  .card-body {
    height: 160px;
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .card-local {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .card-titulo {
    font-size: 25px;
    margin: 15px 0;
  }
  
  .card-texto {
    font-size: 12px;
    width: 250px;
    margin: 0 auto;
  }
  
  /* Card Footer */
  .card-footer {
    margin-top: 10px;
    text-align: center;
    background-color: #000;
  }
  
  .card-footer a {
    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
  }
  
  /* Cores Cards */
  .card-1 .card-footer {
    background-color: #1881FC;
  }
  
  .card-1 .card-local {
    color: #2740d1;
  }
  
  .card-2 .card-footer{
    background-color: #1881FC;
  }
  
  .card-2 .card-local {
    color: #d12761;
  }
  
  .card-3 .card-footer {
    background-color: #1881FC;
  }
  
  .card-3 .card-local {
    color: #00c702;
  }

  .card-4 .card-footer {
    background-color: #1881FC;
  }
  
  .card-4 .card-local {
    color: #c0d127;
  }

  .card-5 .card-footer {
    background-color: #1881FC;
  }
  
  .card-5 .card-local {
    color: #272ad1;
  }
  
  .card-6 .card-footer {
    background-color: #1881FC;
  }
  
  .card-6 .card-local {
    color: #d15d27;
  }
  /* Animação Hover */
  .card:hover {
    transform: scale3d(1.1, 1.1, 1);
  }
  
.abaserviços{
    text-align: center;
   
}




