<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/cadastroConsulta.css">
	<title>Cadastro Consultas</title>
</head>

<body>

	<div id="parallelogram"></div>
	<section>
		<form action="/lista/consultas" method="POST" th:object="${Consulta}">
			<h1>Cadastrar Consulta</h1>
			<fieldset>
				<div class="container">
					<input type="text" id="nome" required name="nome" autofocus>
					<label>Nome da Consulta</label>
				</div>

				<div class="container">
					<input type="date" id="data" required name="data">
					<label>Data da Consulta</label>
				</div>

			</fieldset>

			<fieldset>
				<div class="container">
					<input type="number" id="horario" required name="horario">
					<label>Horario</label>
				</div>

				<div class="container">
					<input type="text" id="veterinario" required name="veterinario">
					<label>Veterinario</label>
				</div>
			</fieldset>
			
			<fieldset>
				<div class="container">
					<input type="text" id="dono" required name="dono">
					<label>Dono</label>
				</div>

				<div class="container">
					<input type="text" id="animal" required name="animal">
					<label>Animal</label>
				</div>
			</fieldset>

			<button name="submit">Agendar Consulta</button>

		</form>

	</section>

</body>

</html>