<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/listar.css">
	<script src="https://kit.fontawesome.com/cdc6c5b4dc.js" crossorigin="anonymous"></script>

	<title>Lista de Consultas</title>
</head>

<body>
	<nav th:replace="~{/html/menu :: menu}"></nav>

	<h1>Lista de consultas mundo pet</h1>
	<table class="table" border="1">
		<thead>
			<tr>
				<th scope="col">ID Consulta</th>
				<th scope="col">Nome da consulta</th>
				<th scope="col">Data da Consulta</th>
				<th scope="col">Horario</th>
				<th scope="col">Veterinario</th>
				<th scope="col">Dono</th>
				<th scope="col">Animal</th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="consulta : ${consultas}">
				<th class="col-1" scope="row" th:text="${consulta.getIdconsulta}">ID</th>
				<td class="col-4" th:text="${consulta.nome}">Nome</td>
				<td class="col-2" th:text="${#dates.format(consulta.data_Consulta,'dd-MM-yyyy')}">Data da
					consulta</td>
				<td class="col-2" th:text="${consulta.horario}">Horario</td>
				<td class="col-2" th:text="${consulta.cpf}">CPF</td>
				<td id="detalhes"> <a>
						<i class="fa-solid fa-circle-info" style="color:rgb(128, 255, 255);"></i></a>
				</td>
				<td id="editar"><a>
						<i class="fa-solid fa-file-pen" style="color:rgb(0, 255, 64);"></i></a>
				</td>
				<td id="deletar"><a>
						<i class="fa-regular fa-trash-can" style="color:red;"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	<div class="novo">
		<a href="../Consulta/cadastroConsulta"> Inserir consulta</a>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>