<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/cadastroEndereco.css">
	<title>Inserir endereco</title>	
</head>

<body>
	<div class="box">
		<form action="/lista/enderecos" method="POST" th:object="${Endereco}" enctype="multipart/form-data" id="form"
			class="form">
			<fieldset>
				<legend><b>Cadastro de endereco</b></legend>
				<br>
				<div class="inputBox">
					<input type="text" name="bairro" id="bairro" class="inputUser" required>
					<label for="bairro" class="labelInput">Bairro</label>
				</div>
				<br><br>
				<div class="inputBox">
					<input type="text" name="rua" id="rua" class="inputUser" required>
					<label for="rua" class="labelInput">Rua</label>
				</div>
				<br><br>
				<div class="inputBox">
					<input type="text" name="cidade" id="cidade" class="inputUser" required>
					<label for="cidade" class="labelInput">Cidade</label>
				</div>
				<br><br>
				<div class="inputBox">
					<input type="number" name="numero" id="numero" class="inputUser" required>
					<label for="numero" class="labelInput">Numero</label>
				</div>
				<br><br>
				<div class="">
					<select id="uf" name="uf">
						<option value="">Selecione seu estado</option>
						<option value="AC">Acre</option>
						<option value="AL">Alagoas</option>
						<option value="AP">Amapá</option>
						<option value="AM">Amazonas</option>
						<option value="BA">Bahia</option>
						<option value="CE">Ceará</option>
						<option value="DF">Distrito Federal</option>
						<option value="ES">Espirito Santo</option>
						<option value="GO">Goiás</option>
						<option value="MA">Maranhão</option>
						<option value="MS">Mato Grosso do Sul</option>
						<option value="MT">Mato Grosso</option>
						<option value="MG">Minas Gerais</option>
						<option value="PA">Pará</option>
						<option value="PB">Paraíba</option>
						<option value="PR">Paraná</option>
						<option value="PE">Pernambuco</option>
						<option value="PI">Piauí</option>
						<option value="RJ">Rio de Janeiro</option>
						<option value="RN">Rio Grande do Norte</option>
						<option value="RS">Rio Grande do Sul</option>
						<option value="RO">Rondônia</option>
						<option value="RR">Roraima</option>
						<option value="SC">Santa Catarina</option>
						<option value="SP">São Paulo</option>
						<option value="SE">Sergipe</option>
						<option value="TO">Tocantins</option>
					</select>
				</div>
				<br><br>
				<button class="submit" type="submit">Adicionar</button>
			</fieldset>
		</form>
	</div>
</body>

</html>