<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/listar.css">
	<script src="https://kit.fontawesome.com/cdc6c5b4dc.js" crossorigin="anonymous"></script>

	<title>Lista de Animais</title>
</head>

<body>
	<nav th:replace="~{/html/menu :: menu}"></nav>

	<h1>Lista todo os Animais mundo pet</h1>
	<table class="table" border="1">
		<thead>
			<tr>
				<th scope="col">IdAnimal</th>
				<th scope="col">Nome</th>
				<th scope="col">Raça</th>
				<th scope="col">Idade</th>
				<th scope="col">Sexo</th>
				<th scope="col">Dono</th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="animal : ${animais}">
				<th scope="row" th:text="${animal.getIdAnimal}">ID Animal</th>
				<td th:text="${animal.nome}">Nome</td>
				<td th:text="${animal.raca}">Raça</td>
				<td th:text="${animal.idade}">Idade</td>
				<td th:text="${animal.sexo}">Sexo</td>
				<td th:text="${animal.usuario.nome}">Dono</td>
				<td id="detalhes"> <a>
						<i class="fa-solid fa-circle-info" style="color:rgb(128, 255, 255);"></i></a>
				</td>
				<td id="editar"><a>
						<i class="fa-solid fa-file-pen" style="color:rgb(0, 255, 64);"></i></a>
				</td>
				<td id="deletar"><a>
						<i class="fa-regular fa-trash-can" style="color:red;"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	<div class="novo">
		<a href="../Animal/cadastroAnimal">Inserir Animal</a>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>