<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<title>Lista de Usuario</title>
</head>

<body>
	<h1>Cadastro de Animais</h1>
	<div class="container mt-4">
		<div class="row">
			<h1>Novo Animal</h1>

			<form action="/animais" method="POST" th:object="${Animal}" enctype="multipart/form-data" id="form"
				class="form">
				<div class="mb-3">
					<label class="form-label">Dono</label>
					<input class="form-control" id="usuario" type="text" name="id">
					<div></div>
				</div>
				<div class="mb-3">
					<label class="form-label">Nome</label>
					<input class="form-control" id="nome" type="text" name="nome">
					<div></div>
				</div>
				<div class="mb-3">
					<label class="form-label">Idade</label>
					<input class="form-control" id="idade" type="text" name="idade">
					<div></div>
				</div>
				<div class="mb-3">
					<label class="form-label">Raça</label>
					<input class="form-control" id="raca" type="text" name="raca">
					<div></div>
				</div>
				<div class="mb-3">
					<label class="form-label">Sexo</label>
					<input class="form-control" id="sexo" type="text" name="sexo">
					<div></div>
				</div>
				<button class="btn btn-primary" type="submit">Submeter</button>
			</form>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>