<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
  	<script>
  	$(document).ready(function () {
        $('#dataNascimento').mask('00/00/0000')
   })
  	</script>
    <title>Lista de Veterinarios</title>
  </head>
  <body>
  <h1>Cadastro de Veterinários</h1>
    <div class="container mt-4">
    	<div class="row">
     		<h1>Novo Veterinarios</h1>
     		<form action="/veterinarios" method="POST" th:object="${Veterinario}" enctype="multipart/form-data">
     			<div class="mb-3">
     				<label class="form-label">Nome</label>
     				<input class="form-control" type="text" name="nome">
     				<div></div>
     			</div>
     			<div class="mb-3">
     				<label class="form-label">Data de nascimento</label>
         			<input class="form-control" id="dataNascimento" type="text" name="data_Nasc">
 					<div></div>
     			</div>
     			<div class="mb-3">
     				<label class="form-label">Email</label>
         			<input class="form-control" type="email" name="email">
 					<div></div>
     			</div>
     			<div class="mb-3">
     				<label class="form-label">Cpf</label>
     				<input class="form-control" type="text" name="cpf" minlength="11" maxlength="11"> 
 					<div></div>
     			</div>
     			<div class="mb-3">
     				<label class="form-label">Senha</label>
     				<input class="form-control" type="text" name="senha"> 
 					<div></div>
     			</div>
     			<button class="btn btn-primary" type="submit">Submeter</button>
     			<a href="javascript:history.back()">Voltar</a>
     		</form>
    	</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
  
</html>