<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/Cadastro.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f9e19193d6.js" crossorigin="anonymous"></script>
  <script src="../js/Cadastro.js"></script>
  <title>Cadastro Mundo Pet</title>
  
   <script>
     $(document).ready(function () {
        $('#dataNascimento').mask('00/00/0000')
   })
   
$(document).ready(function () {
var $cpf = $("#cpf");
$cpf.mask('000.000.000-00');        
   })    
   </script>
</head>

<body>
  <div class="container">
    <div class="header">
      <h2>Cadastra</h2>
      <img src="../img/Logo.png" alt="">
    </div>

    <form action="/usuarios" method="POST" th:object="${Usuario}" enctype="multipart/form-data" id="form" class="form">
      <div class="form-control">
        <label for="username">Nome Completo</label>
        <input type="text" id="nome" placeholder="Digite seu nome Completo" name = "nome"/>
        <i class="fas fa-exclamation-circle"></i>
        <i class="fas fa-check-circle"></i>
        <small>Mensagem de erro</small>
      </div>

      <div class="form-control">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Digite seu email.." name="email" />
        <i class="fas fa-exclamation-circle"></i>
        <i class="fas fa-check-circle"></i>
        <small>Mensagem de erro</small>
      </div>

      <div class="form-control">
        <label for="CPF">CPF</label>
        <input type="CPF" id="cpf" minlength="11" maxlength="11" placeholder="Digite seu CPF..." name="cpf" />
        <i class="fas fa-exclamation-circle"></i>
        <i class="fas fa-check-circle"></i>
        <small>Mensagem de erro</small>
      </div>

      <div class="form-control">
        <label for="DATA">Data de nascimento</label>
        <input type="text" id="dataNascimento" placeholder="Digite sua data de nascimento" name="data_Nasc" />
        <i class="fas fa-exclamation-circle"></i>
        <i class="fas fa-check-circle"></i>
        <small>Mensagem de erro</small>
      </div>

      <div class="form-control">
        <label for="password">Senha</label>
        <input type="password" id="password" placeholder="Digite sua senha..." name="senha" />
        <i class="fas fa-exclamation-circle"></i>
        <i class="fas fa-check-circle"></i>
        <small>Mensagem de erro</small>
      </div>


      <button class="btn btn-primary" type="submit">Cadastra- se</button>
      <a href="javascript:history.back()">Voltar</a>
    </form>
    <p>Já possui uma conta ? <a href="Login.html">Clique aqui</a></p>
  </div>

</body>

</html>