<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/listar.css">
	<link rel="stylesheet" href="../css/modal.css">
	<script src="https://kit.fontawesome.com/cdc6c5b4dc.js" crossorigin="anonymous"></script>
	<title>Lista de Usuario</title>

</head>

<body>
	<nav th:replace="~{/html/menu :: menu}"></nav>

	<h1>Lista de Usuarios Mundo pet</h1>
	<table class="table" border="1">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nome Completo</th>
				<th scope="col">Data de nascimento</th>
				<th scope="col">Email</th>
				<th scope="col">CPF</th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario : ${usuarios}">
				<th scope="row" th:text="${usuario.getIdusuario}">ID</th>
				<td th:text="${usuario.nome}">Nome</td>
				<td th:text="${#dates.format(usuario.data_Nasc,'dd-MM-yyyy')}">Data</td>
				<td th:text="${usuario.email}">Email</td>
				<td th:text="${usuario.cpf}">CPF</td>

				<td id="detalhes">
					<a th:href="@{/usuarios/{idUsuario}(idUsuario = ${usuario.idusuario})}">
						<i class="fa-solid fa-circle-info" style="color:rgb(128, 255, 255);"></i></a>
				</td>
				<td id="editar">
					<a th:href="@{/usuarios/{idUsuario}/edit(idUsuario = ${usuario.idusuario})}">
						<i class="fa-solid fa-file-pen" style="color:rgb(0, 255, 64);"></i></a>
				</td>
				<td id="deletar">
					<a role="button" id="open-modal" href="">
						<i class="fa-regular fa-trash-can" style="color:red;">Deletar</i></a>

				</td>
			</tr>


		</tbody>
	</table>
	<div class="novo">
		<a href="../usuario/cadastroUsuario">Inserir usuario</a>
	</div>


</body>

</html>