<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/cdc6c5b4dc.js" crossorigin="anonymous"></script>
	<title>PAGINA DE CONTROLE</title>
</head>

<body style="background-color:#1C1C1C;">
	<nav th:replace="~{/html/menu :: menu}"></nav>

	<div class="container mt-4">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="">Mundo pet</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Usuario</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Veterinarios</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Animais</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Consultas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Endereços</a>
			</li>
		</ul>
	</div>
</body>

</html>